body {
    font-family: 'Nunito', sans-serif;
}
#navigationBar {
    background-color: #eeeeee;
}
#navigationBar a {
    color: black;
}
#navigationBar a:hover {
    text-decoration: none;
    color: #cccccc;
}
#navigationBar .col {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.section h3 {
    padding-top: 20px;
}
#homePage {
    background-color: #ebcece;
}
#aboutMe {
    background-color: #000000;
    color: white;  
}
#infoTech {
    background-color: #f0eff1;
    text-align: center;
}
#learningAreas {
    background-color: #b38cd0;
    color: white
}
#learningAreas .subjects {
    width: 310px;
    margin: 0 auto; /* center the subjects */
}    
#learningAreas .subject {
    display: inline-block;
    width: 100px;
    height: 300px;
    vertical-align: top;
}
#learningAreas .subject p {
    color: black;
    text-align: center;
}
#learningAreas .subject img {
    width: 100px
}
#coCurricular {
    background-color: #02c7d1;
    color: white;
}    
#coCurricular img {
    width: 200px;
}
#classroomIdeas {
    background-color: #f0ffff
}
#classroomIdeas img {
    width: 200px
}
.footer {
    text-align: center;
}

#classroomIdeas .idea {
    width: 100px;
    display: inline-block;
}