body {
    font-family: 'Nunito', sans-serif;
}

#navigationBar {
    background-color: #eeeeee;
    position: fixed;
    height: 50px;
    width: 100%;
}
#navigationBar a {
    color: black;
}
#navigationBar a:hover {
    text-decoration: none;
    color: #cccccc;
}
#navigationBar .col {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section h3 {
    padding-top: 20px;
}

#pageContent {
    padding-top: 50px;
}

#homePage {
    background-color: #ebcece;
}
#homePage .container {
    text-align: center;
}
#homePage img {
    padding: 50px 50px 0px 50px;
}

#aboutMe {
    background-color: #000000;
    color: white;  
    text-align: left;
}
#aboutMe img {
    float: right;
}

#infoTech {
    background-color: #f0eff1;
    text-align: center;
}

#learningAreas {
    background-color: #b38cd0;
    color: white
}
#learningAreas .subjects {
    width: 310px;
    margin: 0 auto; /* center the subjects */
}    
#learningAreas .subject {
    display: inline-block;
    width: 100px;
    height: 300px;
    vertical-align: top;
}
#learningAreas .subject p {
    color: black;
    text-align: center;
}
#learningAreas .subject img {
    width: 100px
}

#coCurricular {
    background-color: #02c7d1;
    color: white;
}    
#coCurricular img {
    width: 200px;
}
#classroomIdeas {
    background-color: #f0ffff
}
#classroomIdeas .col img {
    width: 200px
}

#classroomIdeas .idea {
    width: 100px;
    display: inline-block;
}

.footer {
    background: #f0ffff url("images/hands.png") no-repeat bottom center;
    background-image: url("images/hands.png");
}

.footer img {
    width: 100%;
}
